<h1>Incomplete order lookup POC</h1>

<div class="formwrap customergroups">

<hr>
  <form id="form" method="POST" name="formpost" action="/submit">

    <div class="inputGroup mt">
      <label for="storeurl">Store URL:</label>
      <input type="text" id="storeurl" name="storeurl" class="inputfield visible " placeholder=" Enter the store URL" />

    </div>

    <div class="inputGroup mt">
      <label for="username">API Username:</label>
      <input type="text" id="username" name="username" class="inputfield visible mt" placeholder=" Enter user name" />

    </div>


    <div class="inputGroup mt">
      <label for="token">API Token:</label>
      <input type="text" id="token" name="token" class="inputfield visible mt" placeholder=" Enter API token" />

    </div>

      <input type="submit" class="btn submitbtn" value="Submit" id="submitCategory"/>
  </form>
<div class="outPut">
<hr>
  
</div>

</div>
<div class="none">
{{!-- {{failed}}
{{succeeded}} --}}
</div>

